@font-face {
	font-family: 'weather'; src: url('artill_clean_icons-webfont.ttf');
	font-weight: normal; font-style: normal;
}

#weather i {
	font-family: weather; font-size: 180px; font-style: normal; color: #666666;
	line-height: 1.0;
}

.icon-a:before { content: "a"; }
.icon-b:before { content: "b"; }
.icon-c:before { content: "c"; }
.icon-d:before { content: "d"; }
.icon-e:before { content: "e"; }
.icon-f:before { content: "f"; }
.icon-g:before { content: "g"; }
.icon-h:before { content: "h"; }
.icon-i:before { content: "i"; }
.icon-j:before { content: "j"; }
.icon-k:before { content: "k"; }
.icon-l:before { content: "l"; }
.icon-m:before { content: "m"; }
.icon-n:before { content: "n"; }
.icon-o:before { content: "o"; }
.icon-p:before { content: "p"; }
.icon-q:before { content: "q"; }
.icon-r:before { content: "r"; }
.icon-s:before { content: "s"; }
.icon-t:before { content: "t"; }
.icon-u:before { content: "u"; }
.icon-v:before { content: "v"; }
.icon-w:before { content: "w"; }
.icon-x:before { content: "x"; }
.icon-y:before { content: "y"; }
.icon-z:before { content: "z"; }
.icon-A:before { content: "A"; }
.icon-B:before { content: "B"; }
.icon-C:before { content: "C"; }
.icon-D:before { content: "D"; }
.icon-E:before { content: "E"; }
.icon-F:before { content: "F"; }
.icon-G:before { content: "G"; }
.icon-H:before { content: "H"; }
.icon-I:before { content: "I"; }
.icon-J:before { content: "J"; }
.icon-K:before { content: "K"; }
.icon-L:before { content: "L"; }
.icon-M:before { content: "M"; }
.icon-N:before { content: "N"; }
.icon-O:before { content: "O"; }
.icon-P:before { content: "P"; }
.icon-Q:before { content: "Q"; }
.icon-R:before { content: "R"; }
.icon-S:before { content: "S"; }
.icon-T:before { content: "T"; }
.icon-U:before { content: "U"; }
.icon-V:before { content: "V"; }
.icon-W:before { content: "W"; }
.icon-X:before { content: "X"; }
.icon-Y:before { content: "Y"; }
.icon-Z:before { content: "Z"; }
.icon-1:before { content: "1"; }
.icon-2:before { content: "2"; }
.icon-3:before { content: "3"; }
.icon-4:before { content: "4"; }
.icon-5:before { content: "5"; }
.icon-6:before { content: "6"; }
.icon-7:before { content: "7"; }
.icon-8:before { content: "8"; }
.icon-9:before { content: "9"; }
.icon-0:before { content: "0"; }
.icon-star:before { content: "*"; }

#weather h2 {
	margin: 0 0 8px;
	font-size: 100px; font-weight: 300;
	text-align: center; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
	margin: 0; padding: 0;
}

#weather li {
	padding: 0 20px;
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	color: silver;
}

#weather .currently {
	margin: 0;
}