:root {
	--bg-color: white;
	--link-color: black;
	--hover-color: black;
	--newitem-color: #666666;
	--olditem-color: silver;
}

:root[data-theme="dark"] {
	--bg-color: #000000;
	--link-color: #ffffff;
	--hover-color: #ffffff;
	--newitem-color: silver;
	--olditem-color: #999999;
}

html { height: 100%; }
body{
	width: 100%; height: 100%;
	min-height: 100%;
	margin: auto 0;
	overflow: hidden;
	position: relative;
	font-family: sans-serif;
	background-color: var(--bg-color);
}
@-moz-document url-prefix() { body { font-size: .8em; }}

* { box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
a:hover{ text-decoration: underline; }

div.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
div.main, div.side { min-width: 0; }
div.main { flex: 7 1 0; }
div.side { flex: 3 1 0; }
@media screen and (width >= 1000px) {
	div.content { 
		flex-direction: row;
		flex-wrap: nowrap;
	}
}


.weather {
	height: 250px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}
@media screen and (width <= 520px) {
	.weather { height: 160px; }
	.forecast { visibility: hidden; }
}
@media screen and (width <= 400px) {
	.weather { height: 120px; }
	.weather i { display: none; }
}
@media screen and (width >= 1000px) {
	.weather { height: 300px; padding-top: 80px; }
}


.links { border: none; padding-bottom: 20px; color: var(--link-color); }
#links { margin: 0 auto; }
@media screen and (width <= 520px) {
	.links { padding-bottom: 10px; }
}
@media screen and (width >= 1000px) {
	.links { padding: 200px 0; }
}

.links table{ border: none; }
.links img { margin-bottom: -2px; }
.links td {
	width: 50%;
	padding: 0 6px 0 4px;
	vertical-align: middle;
}
.links #separator { border-right: 1px solid var(--link-color); }
ul#linksL, ul#linksR {
	padding: 0;
	margin-left: 0;
	vertical-align: middle;
	font-weight: 700;
	list-style: none;
}
ul#linksL { text-align: right; }
ul#linksR { text-align: left; }


ul.feeds {
	height: 100%;
	margin: 0 auto;
	list-style-type: none;
}
ul.feeds li { padding-bottom: 1px; }
ul.feeds img { margin-left: -20px; margin-bottom: -2px; }
@media screen and (width <= 520px) {
	ul.feeds { margin: 1px 1px 0 -18px; }
}
@media screen and (width >= 1000px) {
	ul.feeds { margin: 1px 1px 0 -3px; }
}

ul.feeds a:hover { color: var(--hover-color); }
li.newitem{ color: var(--newitem-color); }
li.olditem{ color: var(--olditem-color); }
li.olditem img { filter: opacity(0.5); }

li.loading { margin-left: -30px; text-align: center; }
li.loading img { vertical-align: middle; }
@media screen and (width <= 520px) {
	li.loading { margin-left: -8px; }
}
@media screen and (width >= 1000px) {
	li.loading { height: 100%; }
}

ul.feeds li:has(a:hover) img { filter: opacity(1);}

/* Dark mode overrides - higher specificity, placed after base rules */
:root[data-theme="dark"] ul.feeds img[src$=".svg"] { filter: invert(1); }
:root[data-theme="dark"] .links img { filter: invert(1); }
